/* Coolors Exported Palette - coolors.co/5b5b5b-e0e2db-93b7be-c0b7b1-779cab */

/* HSL */
$color1: hsla(0%, 0%, 36%, 1);
$color2: hsla(77%, 11%, 87%, 1);
$color3: hsla(190%, 25%, 66%, 1);
$color4: hsla(24%, 11%, 72%, 1);
$color5: hsla(197%, 24%, 57%, 1);

/* RGB */
$color1: rgba(91, 91, 91, 1);
$color2: rgba(224, 226, 219, 1);
$color3: rgba(147, 183, 190, 1);
$color4: rgba(192, 183, 177, 1);
$color5: rgba(119, 156, 171, 1);