/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 60px;
  background-image: url('/assets/doodles.png');
}

footer {
  margin-top: 100px;
}

table, td, th {
  vertical-align: middle;
  border: none;
}

th {
  border-bottom: 1px solid #DDD;
  color: #5B5B5B;
}

h1 {
  color: #779CAB
}

.navbar-nav {
  font-size: 17px;
}

.container {
  font-family: verdana, arial, helvetica, sans-serif;

  .navbar-nav {
    margin-right: 15px;
  }
}

footer {
  background-color: #ebebeb;
  padding: 20px 0;
  color: #777;
  text-align: center;
}

.back-btn {
  margin-top: 20px;
}

.navbar {
  min-height: 38px;
  background-color: #ebebeb;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}

.navbar a.brand {
  font-size: 20px;
}

.navbar a:hover {
  color: #5d5d5e;
  background-color: transparent;
  text-decoration: none;
}